p{
	font-size:1.2em;
	font-family:sans-serif;
}
h2{
	color:#b2b2b2;
}
#photo_of_me{
	width:60%;
	margin-left:-1em;
}

body, .stage {
  background: ; 
}
#top{
	font-family:sans-serif;
	color:#4d4d4d;
	  background-color:#d4d4d4;
}
#foot{
	font-family:sans-serif;
	color:#4d4d4d;
	  background-color:#d4d4d4;
}
#top{
  width:110%;
  height: 5%;
  margin-left: -2%;
  padding:1em;
  padding-left:40%;
  padding-right:10%;
}
#foot{
  width:110%;
  height: 5%;
  margin-left: -2%;
  padding:1em;
  padding-left:10%;
  clear:both;
}
#foot a{
	text-decoration:underline;
	}
#foot a:hover{
	color:#4d4d4d;
}

/*start of speiciific css*/
.descript{
  width:40%
  color:#4d4d4d;
  font-family: sans-serif;
	background-color:#fff;
    float: left;
    padding:2%;
    margin:2%;
  width:25em;
}

text{
  font-family:sans-serif;
  font-size: 1.3em;
}
svg{
  float:right;
  position:fixed;
}
/*.hide is the class of div used in the altmetric api ap*/
.hide{
  float:right;
  background-color: ;
  width: 30%;
  height: 10em;
}
.hide img{
  margin-left:20%;
}
#top .twitter-follow-button{
	float:right;
	}
a{
text-decoration:none;
}
.textlink{
	color:#4fbab5;
}
.button rect{
	cursor:pointer;
	}
